.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-top: 1px solid $white;

  @at-root body.scrolled & {
    border-top: 0;
  }

  .navbar-toggler {
    .navbar-toggler-icon-animated {
      span {
        background: $white;
      }
    }
  }
}
