@mixin container {
  max-width: 1104px;
  padding-right: calc(var(--bs-gutter-x)* 0.5);
  padding-left: calc(var(--bs-gutter-x)* 0.5);
  margin-right: auto;
  margin-left: auto;
  position: relative;

  @include media-breakpoint-up(sm) {
    --bs-gutter-x: 2rem;
  }

  @include media-breakpoint-up(md) {
    --bs-gutter-x: 2.5rem;
  }

  @include media-breakpoint-up(lg) {
    --bs-gutter-x: 3rem;
  }

  @include media-breakpoint-up(xxl) {
    --bs-gutter-x: 1.5rem;
  }
}
