@mixin icon-link {
  align-items: center;
  display: inline-flex;
  padding: 0.5rem 0.5rem 0.5rem 0.2rem;

  @include media-breakpoint-down(sm) {
    width: 100%;
  }

  &::before {
    @include bootstrap-icon("link-45deg");
    color: $link-color;
    font-size: 2.5rem;
    margin-right: 1rem;
    text-decoration: none;
    transition: $transition-base;
  }

  @include smart-icon;

  &:focus,
  &:hover {
    background-color: $blue-100;
    border-radius: 5px;
    text-decoration: none;

    &::before {
      color: $link-hover-color;
    }
  }
}
