// Xunta footer.
$xunta-footer-height: 84px;
$xunta-footer-font-size: 12px;
$xunta-footer-font-size-lg: 10px;
$xunta-footer-image-height: 28px;
$xunta-footer-image-height-lg: 36px;

// Paragraphs.
$default-margin-bottom-blocks: 2rem;
