.header {
  margin-bottom: 3rem;
  position: relative;

  @include media-breakpoint-down(lg) {
    background-color: $primary;

    &::after {
      background-color: $primary;
      content: "";
      height: 100%;
      left: 50%;
      margin-left: -50vw;
      position: absolute;
      top: 0;
      width: 100vw;
      z-index: -1;
    }
  }

  @include media-breakpoint-up(lg) {
    @include afterBackground($primary);

    &::after {
      box-shadow: 0 0 12px rgba(0,0,0,0.7);
    }
  }

  .header-content {
    @include media-breakpoint-down(lg) {
      display: flex;
      flex-direction: row;
      padding: 0;
    }
  }

}
