.maintenance-page {
  .layout-container {
    margin: 0 auto;

    header {
      background: $primary;
      margin-bottom: 3rem;
      padding: 2rem;

      img {
        filter: brightness(0) invert(1);
        height: 36px;
        max-width: 100%;

        @include media-breakpoint-up(lg) {
          height: 48px;
        }
      }
    }

    main {
      font-size: $font-size-base * 1.2;

      padding: 2rem 2rem 5rem;
      text-align: center;
      h1 {
        margin-bottom: 5rem;
      }
    }
  }
}
